body{
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.cadre {
    width: 40%;
    margin: 10px;
    border-radius: 20px;
    /*height: 50px;*/
    margin-bottom: 40px;
    }

img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius:20px 20px 0px 0px;
}

button {
    border-radius: 0px 0px 20px 20px;
    border: none;
    width: 100%;
    height: 40px;
    flex-grow: 1;
    background-color: #83b633;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: larger;
    cursor: pointer;
}