body{
    justify-items: center;
    align-items: center;;
}
.maison{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:50px;
    width: 85vw;
    justify-content: space-between;
}
.conseil{
    display:flex;
    flex-direction: row;
    margin-bottom: 150px;
    text-align: center;
    align-items: center;
}
p{
    background-color: #83b633;
    border-radius:50%;
    padding: 30px;
    width: 300px;
}
img{
    border-radius: 10px 50%/ 10px 50%;
}